<p>
    <strong>Auteur:</strong>
    <%= commentaire.auteur %>
</p>

<p>
    <strong>Commentaire:</strong>
    <%= commentaire.body %>
</p>

<p>
    <%= link_to 'Supprimer', [commentaire.article, commentaire], method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
</p>